* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  color: #bdbdbd;
  font-size: 34px;
  background: linear-gradient(0deg, #ddd, #fff);
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
  text-decoration: none;
  /* border: 10px solid ; */
  transition: 0.3s;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

ul li a .fab {
  position: absolute;
  top: 10px;
  left: 10px;

  display: block;
  width: 100px;
  height: 100px;
  color: #bdbdbd;
  font-size: 44px;
  background: linear-gradient(0deg, #fff, #ddd);
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

ul li a:hover {
  transform: translateY(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

ul li:nth-child(1) a:hover .fab {
  color: #1877f2;
}

ul li:nth-child(2) a:hover .fab {
  color: #1da1f2;
}

ul li:nth-child(3) a:hover .fab {
  color: #007bb5;
}

ul li:nth-child(4) a:hover .fab {
  color: #25d366;
}

ul li:nth-child(5) a:hover .fab {
  color: #ff9900;
}
